include ./menu-data
-
  if (typeof siteurl === "undefined") {
    siteurl = "/"
  }

header
  .header-top
    a.logo(href=siteurl) Ward Greenhouses
    .contact-block
      a(href='tel:1-978-555-1234').contact-link
        .icon
          include icons/phone.svg
        span 1-978-555-1234
      a(href='mailto:mail@example.com').contact-link
        .icon
          include icons/envelop.svg
        span.email mailto:mail@example.com
  input(type="checkbox" id="menu-toggle").menu-toggle
  label(for="menu-toggle").hamburger-icon
    span
    span
    span
  nav.main-nav
    for item in menudata
      a(href=item.url, class=item.classname)= item.label